$header_font: "Roboto", serif;
$header_text_color: #74B9FF;

.filler {
  flex: 1 1 auto;
}

.bar__blue {
  height: 8vh;
  //transform: translateY(0);
  transition: all 0.4s 0.4s;
  background-color: #74B9FF;
}

.bar{
  height: 8vh;
  //transform: translateY(100px);
  transition: all 0.4s 0.4s;
  background-color: white;
}

.bar__item__blue {
  outline: none;
  font-family: $header_font;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 218.19%;
  /* or 65px */

  letter-spacing: 0.29em;

  color: white;
}
.bar__item {
  outline: none;
  font-family: $header_font;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 218.19%;
  /* or 65px */

  letter-spacing: 0.29em;

  color: $header_text_color;
}
